html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(background.jpg);
    position: relative;
    overflow: hidden;
    z-index: -2; /* move the shadow above the image */
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* move the "shadow" in front of the image and behind the text */
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    background: linear-gradient(135deg, #FFA500, #8B4513);
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.navbar-options {
    margin-left: auto;
    padding-right: 15px;
}

.Logo {
    margin-left: 15px;
    font-family: 'Kalnia', serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
}


.header {
    padding-top: 150px;
    display: flex ;
    justify-content: center;
    color: white;
    font-family: 'Kalnia', serif;

}
.contentMain {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 15% ;
    margin-right: 15%;
    margin-bottom: 15%;
}

.textMain {
    font-family: 'Kalnia', serif;
    color: wheat;
    font-size: 25px;
    
    
}



